/// Custom CSS for Live Text Demo
/// -----------------------------

.livetype_img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.hero-image {
  position: relative;
}

.hero-caption {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  outline: 3.5px dashed transparent;
  outline-offset: 0.2em;
  transition: outline-color 0.2s ease-in-out;
}
.hero-caption:focus {
  outline-color: #e32;
}
@media screen and (max-width: 640px) {
  .hero-caption {
    color: #222;
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
    margin: 0 24px;
    position: relative;
    left: 0;
    top: 10px;
  }
}


/// Sticky Header for CMS Protos
/// -----------------------------

.sidebar {
  position: absolute;
  top: 200px;
  right: 0;
  z-index: 998;
}

.sticky-header {
  top: 0;
  width: 100%;
  z-index: 999;
}


/// Sticky Header CSS for JS
/// -----------------------------

.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
  position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
  position: fixed;
}
.fixedsticky-dummy {
  display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
  display: block;
}




.bf-logo {
  width: 200px;
}


/// Slider for Slide to Publish Button
/// -----------------------------


.publish-slider {
  position: relative;
  top: 1px;
  display: inline-block;
  border: 1px solid $fill-blue;
  border-radius: 3px;
  font-size: $text-4;
  width: 200px;
  text-align: center;
  height: 2.625rem;
  line-height: 2.625rem;
  color: $text-blue;
  opacity: 1;
  &.publish-slider--published {
    color: $text-white;
    background-color: $fill-blue;
    border-color: $fill-blue;
  }
}

.publish-slider__text {}

.publish-slider__handle {
  @extend .button;
  @extend .button--primary;
  position: absolute;
  background-color: #3E9BF7 !important; //important to override js
  border: 1px solid $fill-blue !important; //important to override js
  top: -1px;
  left: -1px;
  width: 2rem; // $button-height
  &:hover,
  &:active {
    background-color: #3E9BF7 !important; //important to override js
  }
}

.publish-slider__grow {
  background-color: $fill-blue;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}



// superposter old button styling

.sp-buttons--legacy {
  background-color: #aaa;
  border: none;
  border-radius: 0;
  color: #fff;
  padding: 11px 30px;
  &.save {
    background-color: $fill-blue;
    border-radius: 0px;
    &:hover {
      color: $text-white;
    }
  }
}


.publish-slider.sp-buttons--legacy {
  padding: 0px;
  top: 0px;
  background-color: $fill-blue;

  .publish-slider__handle {
    border-radius:0 !important;
    margin-top: 1px;
  }
}


.sp-buttons--legacy {
  &:hover {
    color: $text-white;  }
}
