<!doctype html>
<html>
  <head>
    <title>Prototypes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="//use.typekit.net/jjv6vrl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
   </head>
  <body>




    <main class="content">
      <%- yield %>
    </main>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>