<!doctype html>
<html>
<head>
  <title>Prototypes</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/solid.css">
  <script src="//use.typekit.net/jjv6vrl.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <main class="content">
    <%- yield %>
  </main>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/javascripts/main.js"></script>

</body>
</html>