<!doctype html>
<html>
  <head>
    <title>Demos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="//use.typekit.net/jjv6vrl.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
   </head>
  <body>

    <h1>Hello! This is BF prototype projects yayayayya. Here are some <a href="/demos">demoz</a></h1>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/main.js"></script>

  </body>
</html>