<!-- // LANDING PAGE %> -->

<div class="homewrapper">
        <h1 class="face">face</h1>
        <h1 class="science">value</h1>
        <p>An environment to help understand the science behind first impressions. Considerable research has shown a consensus in identifying babyfaced individuals at all ages, as well as a strong expectation that babyfaced people will have childlike traits-submissive, dependent, warm, affectionate, honest, weak, and naive. Although this babyface stereotype has been well documented,<span class="dark-blue"> <strong> the question of its accuracy remains.</strong></span</p>

    <div class="buttoncontainer">
        <div class="learnlarge">
            <a href="/science">
                <span>The Science</span>
            </a>
        </div>
        <div class="explorelarge">
           <a href="/faces">
                <span>The Faces</span>
            </a>
        </div>
    </div>
</div>