<!-- science landing page -->

<div>

  <div>
    <a href="/demos/superposter-slider">SuperPoster Slide to Publish (Solid Btn Version)</a>
  </div>

  <div>
    <a href="/demos/superposter-slider">SuperPoster Slide to Publish</a>
  </div>

  <div>
    <a href="/demos/superposter-livetype">SuperPoster Live Type!</a>
  </div>

</div>

<a href="/">home</a>
